@model Modelo.Cadastros.Activity

<div class="card-body">
    <div class="rom">
        <div class="col-8">
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="ActivityId" class="form-control" disabled="disabled"/>
                </div>
                <label asp-for="Description" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="Description" class="form-control"  disabled="disabled"/>
                </div>
                <label asp-for="StartedAt" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="StartedAt" class="form-control"  disabled="disabled"/>
                </div>
                <label asp-for="EndedAt" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="EndedAt" class="form-control"  disabled="disabled"/>
                </div>
                <label asp-for="Status" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="Status" class="form-control"  disabled="disabled"/>
                </div>
                <label asp-for="Project.Name" class="control-label"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>                        
                    </div>
                    <input asp-for="Project.Name" class="form-control"  disabled="disabled"/>
                </div>
            </div>
        </div>        
    </div>
</div>