@model Modelo.Cadastros.Activity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/font-awesome.min.css" 
            asp-fallback-href="~/lib/font-awesome/css/all.css"
            asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position"
            asp-fallback-test-value="absolute"
        />
    </environment>
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Atividade</div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>    <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>                
            </div>      
            <input asp-for="Description" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Project.Name" class="control-label"></label>    <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>                
            </div>      
            <input asp-for="Project.Name" class="form-control" disabled="disabled" />
        </div>

        <label asp-for="StartedAt" class="control-label"></label>    <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>                
            </div>    
            <input asp-for="StartedAt" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="EndedAt" class="control-label"></label>    <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>                
            </div>  
            <input asp-for="EndedAt" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Status" class="control-label"></label>    <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>                
            </div>            
            <input asp-for="Status" class="form-control" disabled="disabled" />
        </div>    
    </div>
    <div class="card-footer bg-info text-center text-white">
        <input type="hidden" asp-for="ActivityId" />
        <a asp-action="Index" class="btn btn-info">Retornar a lista de atividades</a>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalConfirmationDelete">
            Remover Atividade
        </button>
    </div>  
</div>
<div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Remoção de atividade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>                    
                </button>                
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão da atividade @Model.Description.ToUpper() ?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ActivityId" />
                    <input type="submit" value="Remover atividade" class="btn btn-primary"  />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </form>                
            </div>
        </div>        
    </div>    
</div>
@section ScriptPage{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
