<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libstwitter-bootstrap/4.5.0/css/bootstrap.min.css" 
            asp-fallback-href="~/lib/bootstrap.min.css" 
            asp-fallback-test-class="sr.only" 
        />
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>